params {
    samplesheet = null
    barcode_dir = null
    outdir = 'results'

    threads = 8

    min_len_filtering = 2000
    max_len_filtering = 6000
    min_mean_quality_filering = 90
    min_mean_quality_polishing = 20

    rrnas = '18S_rRNA:1000,28S_rRNA:400,5_8S_rRNA:90'
    chosen_rrna = '18S_rRNA'

    db_location = null
    db_id = 0.7
    db_query_cov = 0.9
    enable_optional_taxonomy_format = true

    container = "${projectDir}/containers/banana.sif"
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    beforeScript = 'export PATH=/opt/conda/bin:$PATH; export OPENBLAS_NUM_THREADS=1; export OMP_NUM_THREADS=1; export MKL_NUM_THREADS=1; export NUMEXPR_NUM_THREADS=1'

    withLabel: 'base' {
        container = params.container
        cpus = 1
        memory = '4 GB'
        time = '2h'
    }

    withLabel: 'filtlong' {
        container = params.container
        cpus = 2
        memory = '16 GB'
        time = '24h'
    }

    withLabel: 'barrnap' {
        container = params.container
        memory = '8 GB'
        time = '24h'
    }

    withLabel: 'nanoplot' {
        container = params.container
        memory = '16 GB'
        time = '24h'
    }

    withLabel: 'python_tools' {
        container = params.container
        memory = '8 GB'
        time = '12h'
    }

    withLabel: 'racon' {
        container = params.container
        memory = '16 GB'
        time = '24h'
    }

    withName: 'PREPARE_READS' {
        memory = '16 GB'
        time = '24h'
    }

    withName: /ERROR_CLUSTERING|CONSENSUS|MINIMAP/ {
        memory = '16 GB'
        time = '24h'
    }

    withName: /CHIMERA_REMOVAL|TAXONOMY/ {
        memory = '64 GB'
        time = '48h'
    }

    withName: 'FINAL_CLUSTERING' {
        memory = '32 GB'
        time = '24h'
    }

    withName: 'BIOLOGICAL_REPORT' {
        memory = '8 GB'
        time = '4h'
    }
}

singularity {
    enabled = false
    autoMounts = true
}

apptainer {
    enabled = false
    autoMounts = true
}

report {
    overwrite = true
}

timeline {
    overwrite = true
}

trace {
    overwrite = true
}

profiles {
    singularity {
        singularity.enabled = true
        apptainer.enabled = false
        docker.enabled = false
    }

    apptainer {
        apptainer.enabled = true
        singularity.enabled = false
        docker.enabled = false
    }

    slurm {
        process.executor = 'slurm'
        executor.queueSize = 50
        executor.submitRateLimit = '20 sec'

        process {
            /*
             * Keep tiny orchestration/table/report steps inside the Nextflow
             * controller job. The read/database-heavy work remains on Slurm.
             */
            withName: /CLUSTER_THRESHOLD|ADD_SAMPLE_NAMES|MERGE_SAMPLES|REMOVE_N_SEQS|TAXONOMY_TABLE|OTU_TABLE/ {
                executor = 'local'
                cpus = 1
                memory = '4 GB'
                time = '4h'
                maxForks = 4
            }

            withName: 'BIOLOGICAL_REPORT' {
                executor = 'local'
                cpus = 1
                memory = '8 GB'
                time = '4h'
                maxForks = 1
            }
        }
    }

    test {
        params.samplesheet = "${projectDir}/test_data/ont_100_reads_per_barcode/samplesheet.tsv"
        params.outdir = "${projectDir}/results/test_ont_100_reads_per_barcode"
        params.threads = 4
        params.enable_optional_taxonomy_format = false
    }

    local_test {
        process {
            withName: /CHIMERA_REMOVAL|TAXONOMY/ {
                memory = '24 GB'
            }
            withName: 'FINAL_CLUSTERING' {
                memory = '24 GB'
            }
        }
    }
}
