params {
    query = null
    asv_dir = null
    outdir = 'results/remote_blast'
    db = 'nt'
    task = 'blastn'
    evalue = '1e-20'
    max_target_seqs = 20
    container = "${projectDir}/containers/blast_remote.sif"
}

process {
    executor = 'local'
    errorStrategy = 'retry'
    maxRetries = 2

    withLabel: 'remote_blast' {
        container = params.container
        cpus = 1
        memory = '2 GB'
        time = '24h'
        maxForks = 1
    }
}

singularity {
    enabled = false
    autoMounts = true
}

apptainer {
    enabled = false
    autoMounts = true
}

profiles {
    singularity {
        singularity.enabled = true
        apptainer.enabled = false
        docker.enabled = false
    }

    apptainer {
        apptainer.enabled = true
        singularity.enabled = false
        docker.enabled = false
    }

    slurm {
        process.executor = 'slurm'
        executor.queueSize = 1
        executor.submitRateLimit = '30 sec'
    }
}

report {
    overwrite = true
}

timeline {
    overwrite = true
}

trace {
    overwrite = true
}
